{% set env_type = _context.target_path|replace({'env/':'', '.html' : '', '-' : ' '}) %}

{% extends "layout.html.twig" %}
{% import "macros.twig" as macros %}

{% block head %}
    <title>{{ env_type }} Environment Variables</title>
{% endblock head %}

{% block introduction %}
<div class="offset-quarter">
    <h1 class="mt-0">{{ env_type }} Environment Variables</h1>
</div>
{% endblock introduction %}

{% block table_of_contents %}

{% endblock table_of_contents %}

{% block body %}

<div class="offset-quarter">
    {% set display_vars = env_variables[env_type|lower]|sort((a, b) => a.var <=> b.var)  %}
    {% for v in display_vars %}
        {% if 0 != v.var|length %}
        <div class="mb-4">
            {{ macros.markup(" \\- #{v.desc}", macros.terminal_command(v.var) ) }}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock body %}
